alembic
arabic-reshaper
asgiref
asn1crypto
blinker
certifi
cffi
charset-normalizer
click
colorama
crispy-bootstrap5
cryptography
cssselect2
distlib
Django
django-crispy-forms
dnspython
email-validator
et_xmlfile
filelock
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
html5lib
humanize
idna
itsdangerous
Jinja2
lxml
Mako
MarkupSafe
mysql-connector-python
openpyxl
oscrypto
packaging
pillow
pipenv
platformdirs
pycparser
pyHanko
pyhanko-certvalidator
PyMySQL
pypdf
python-bidi
python-dateutil
python-dotenv
PyYAML
reportlab
requests
setuptools
six
SQLAlchemy
sqlparse
svglib
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
virtualenv
webencodings
Werkzeug
WTForms
xhtml2pdf